#main-header {
  padding: 0.6rem;
  margin: 0.2rem;
  padding-left: 0px;
  .container {
    padding: 1rem;
    padding-left: 0px;
    height: 10vh;
    width: 100%;
    .navbar {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        height: 100%;
        .microsoft {
          display: flex;
          justify-content: center;
          margin: 0px 5px;
          height: 23px;
          width: 100%;
          text-align: center;

          #logo {
            width: 25px;
            height: 25px;
            margin: 0 5px;
          }
          a {
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            font-weight: 620;
            letter-spacing: -1px;
            color: rgb(94, 94, 94);
            font-size: 20px;
          }
        }
        ul {
          display: flex;
          justify-content: center;
          text-align: start;
          margin: 50px;
          li {
            margin: auto;
            padding: 0 1rem;
            font-size: 0.9rem;
            text-align: center;
            &:first-child {
              font-size: 18px;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

img {
  width: 100%;
}
